<nav>
  <ul class="pagination">
    <li 
      class="page-item"
      [appClass]="{ disabled: currentPage === 0 }"
    >
      <a href="javascript:void(0)" class="page-link" (click)="currentPage = currentPage - 1" >Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index;" >
      <li class="page-item"
          [appClass]="{ active: i === currentPage}"
          *ngIf="checkWindowIndex(i)"
      >
        <a href="javascript:void(0)" (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li 
      class="page-item"      
      [appClass]="{ disabled: currentPage === images.length - 1}"
    >
      <a href="javascript:void(0)" class="page-link" (click)="currentPage = currentPage + 1" >Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" >
</div>

<div [ngSwitch]="currentPage" >
  <div *ngSwitchCase="0" >
    Current page is 0
  </div>
  <div *ngSwitchCase="2" >
    Current page is 2
  </div>
  <div *ngSwitchCase="2" >
    Current page is 2 also
  </div>
  <div *ngSwitchCase="3" >
    Current page is 3
  </div>
  <div *ngSwitchDefault >
    Unknown current page
  </div>
</div>

<ul *appTimes="5" >
  <li>Hello there</li>
</ul>